<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeple Purse</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/index.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="signin-container">
      <div class="glass">
        <img src="/login_icon.jpg" class="user">
        <form action="/signin" method="post">
          <div class="input-field">
            <span><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="email" placeholder="Email">
          </div>
          <div class="input-field">
            <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
            <input type="password" name="pwd" placeholder="Password">
          </div>
            <button>Sign in</button>    
        </form>
        <a href="/signup">Sign up?</a>
      </div>
    </div>
</body>
</html>