<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

  <div class="ui stackable menu">
    <div class="item">
      Meeple Purse
    </div>
    <a href="/purse" class="item">Purse</a>
    <a href="/add" class="item">Add Games</a>
    <a href="/purse" class="item"><%=session[:user_id]%></a>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>

</html>